$color-primary-blue: hsl(237, 18%, 59%);
$color-primary-red: hsl(345, 95%, 68%);

$color-secondary: hsl(236, 21%, 26%);
$color-secondary-2: hsl(235, 16%, 14%);
$color-secondary-3: hsl(234, 17%, 12%);

$color-white: hsl(0, 0%, 100%);

$font-display: "Red Hat Text", sans-serif;

$bp-larger: 81.25em; //1300px

$bp-large: 75em; //1200px
$bp-medium: 55em; //880px
$bp-small: 34.375em; //550px
$bp-smaller: 26.25em; //420px
$bp-smallest: 18.75em; //300px
